@{
    ViewData["Title"] = "Home Page";
    List<string> words = ViewData["words"] as List<string>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    @foreach (var word in words)
    {
        <p>@word</p>
    }
</div>
